<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <style>
      html {
        background-image: url('{% static "login_app/images/xinxinbackground.gif"%}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Xinxin</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="landingwrapper"><h1 id="title">X I N X I N</h1>
        <div id="socialmediamenu">
          <a href="https://www.instagram.com/xinxinplanet/"><img src="{% static 'login_app/images/drawninstagram.png' %}" class="socialmediaasset" alt="instagram"></a>
          <a href="https://xinxin.bandcamp.com/"><img src="{% static 'login_app/images/drawnbandcamp.png' %}" class="socialmediaasset" alt="bandcamp"></a>
          <a href="https://soundcloud.com/xinxinplanet"><img src="{% static 'login_app/images/drawnsoundcloud.png' %}" class="socialmediaasset" alt="soundcloud"></a>
          <a href="https://www.facebook.com/xinxinplanet/"><img src="{% static 'login_app/images/drawnfacebook.png' %}" class="socialmediaasset" alt="facebook"></a>
        </div>
      </div>
      <div id="bandcampplayer">
        <iframe class="bandcamp" style="border: 0; width: 640px; height: 840px;" src="https://bandcamp.com/EmbeddedPlayer/album=3803056331/size=large/bgcol=ffffff/linkcol=f171a2/transparent=true/" seamless>
          <a href="http://xinxin.bandcamp.com/album/blue-flowers">blue flowers by XINXIN</a>
        </iframe>
      </div>
      <div id="mobilebandcampplayer" style="width:100%;">
        <iframe style="border: 0; width: 90%; height: 120px; margin-left: 5%;" src="https://bandcamp.com/EmbeddedPlayer/album=3803056331/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless>
          <a href="http://xinxin.bandcamp.com/album/blue-flowers">blue flowers by XINXIN</a>
        </iframe>
      </div>
      <div id="video"><iframe class="video" src="https://www.youtube.com/embed/ZQ6OyIGMHvY?ecver=2" frameborder="0"></iframe></div>
      <div id="tourdatescontainer">
        <div id="formcontainer">
          <div id="formcontainer">
            <form action="//xinxinplanet.us16.list-manage.com/subscribe/post?u=6b824a579fecc455a08cb7f14&amp;id=8304809601" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <span class="medium">
                (ﾉ◕ヮ◕)ﾉ*:･✧<br>
                ✧･: * JOIN OUR MAILING LIST FO SHOW UPDATES PLUS FREE SHIET YEEE *:･✧
              </span><br>
              {% for message in messages %}
                <p>{{message.message}}</p>
              {% endfor %}
              <div class="formdescription" style="height:16px; color:#7EA9D8; margin-top:12px;">F I R S T ~ N A M E :</div>
              <input type="text" name="FNAME" class="" id="mce-FNAME" placeholder="..." class="input">
              <div class="formdescription" style="height:16px; color:#7EA9D8; margin-top:12px;">L A S T ~ N A M E :</div>
              <input type="text" name="LNAME" class="" id="mce-LNAME" placeholder="..." class="input">
              <div class="formdescription" style="height:16px; color:#7EA9D8; margin-top:12px;">Y O R ~ E M A I L :</div>
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="example@email.com" class="input">
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6b824a579fecc455a08cb7f14_8304809601" tabindex="-1" value=""></div>
                <div class="formdescription" style="height:16px; color:#7EA9D8; margin-top:12px;"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"value="Sign me upp!!!" class="button"></div>
              <div class="medium" style="margin-top:20px;">ヾ(⌐■_■)ノ♪</div>
            </form>
          </div>
        </div>
        <div class="break" style="height:50px;"></div>
        <span class="medium">Up N' Comin' Shows...</span>
        {%if tourdateall %}
          {%for t in tourdateall %}
          <div id="tourdaterow">
            <div class="tourdate">{{t.tourdatetime}}</div>
            <div class="tourcity">{{t.tourcity}}</div>
            <div class="tourvenue">{{t.tourvenue}}</div>
            <div class="buytickets"><a href="{{t.tourinfourl}}">INFO</a></div>
          </div>
          {% endfor %}
        {% endif %}
          <div class="break" style="height:100px;"></div>
          <div id="contactinfo">
            For Press/Bookings please email us at XINXINPLANET@GMAIL.COM
          </div>
          <div class="break" style="height:50px;"></div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'login_app/javascript/index.js' %}">
    </script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    </script>
  </body>
</html>
