<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Admin Login</h1>
    <form style="border: 1px solid dodgerblue;" action="/login" method="POST">
      <h2>Login</h2>
      {% for message in messages %}
        <p>{{message.message}}</p>
      {% endfor %}
      Username:<input type="text" name="username"><br>
      Password:<input type="password" name="password"><br>
      {% csrf_token %}
      <button>Login</button>
    </form>
    <form style="border: 1px solid dodgerblue;" action="/register" method="POST">
      <h2>New Admin</h2>
      Username:<input type="text" name="username"><br>
      Password:<input type="password" name="password"><br>
      Password Confirmation:<input type="password" name="confirm"><br>
      Admin Token: <input type="password" name="admintoken"><br>
      <button>Register</button>
      {% csrf_token %}
    </form>
  </body>
</html>
