<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Admin Login</h1>
    <form style="border: 1px solid dodgerblue;">
      <h2>Login</h2>
      Username:<input type="text" name="username"><br>
      Password:<input type="password" name="password"><br>
      <button>Login</button>
    </form>
    <form style="border: 1px solid dodgerblue;">
      <h2>New Admin</h2>
      Username:<input type="text" name="username"><br>
      Password:<input type="password" name="username"><br>
      Password Confirmation:<input type="password" name="username"><br>
      Admin Token: <input type="password" name="admintoken"><br>
      <button>Register</button>
    </form>
  </body>
</html>
