<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tour Dates Dashboard</title>
    {% load static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_app/css/tourdates.css' %}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="welcomeHeader"> Welcome, {{request.session.theuser}}!
      <a href="/logout">Logout Heree</a>
    </div>
    <h1>Tour Dates</h1>
    <div class="tab">
        <h2>Enter New Tour Dates Here:</h2>
    </div>
    <form action="/add" method="POST">
      {% csrf_token %}
      Date & Time:<input type="datetime-local" name="tourdatetime">format: mm/dd/yyyy, hh:mm pm <br>
      Tour City: <input type="text" name="tourcity"><br>
      Tour Venue: <input type="text" name="tourvenue"><br>
      Info Url:<input type="text" name="tourinfourl"> full links ie: https://tm.com/tx/evnt/id=?w98sf<br>
      <button>Post</button>
    </form>
    <table>
      <tr>
        <th>Tour Date & Time</th>
        <th>Tour City</th>
        <th>Tour Venue</th>
        <th>URL</th>
        <th>Delete</th>
      </tr>
      {%if tourdateall %}
        {%for t in tourdateall %}
      <form action="/delete/{{t.id}}" method="POST">
        {% csrf_token %}
        <tr>
          <td>{{t.tourdatetime}}</td>
          <td>{{t.tourcity}}</td>
          <td>{{t.tourvenue}}</td>
          <td>{{t.tourinfourl}}</td>
          <td><button>Delete</button></td>
        </tr>
      </form>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
