<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tour Dates</title>
  </head>
  <body>
    <h3>Welcome, {{request.session.user.username}}!</h3>
    <h1>Tour Dates</h1>
    <form style="border: 1px solid dodgerblue">
      Date & Time:<input type="datetime-local" name="tourdate">
      Tour City: <input type="text" name="tourcity">
      Tour Venue: <input type="text" name="tourvenue">
      Info Url:<input type="text" name="infourl">
      <button>Post</button>
    </form>
  </body>
</html>
